cachetools==4.1.0
geoip2==3.0.0
matplotlib==3.2.1
maxminddb==1.5.4
numpy==1.18.4
pandas==1.0.3
requests==2.23.0
seaborn==0.10.1
tldextract==2.2.2
ipython==7.14.0
notebook==6.4.10
textdistance==4.2.0
pyarrow==0.17.1
cidr-trie==3.1.2
networkx==2.4
netaddr==0.7.19
pydot==1.4.1
pygraphviz==1.5
